#root {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.todolist h2 {
  text-align: center;
}

.todolist-container {
  border: 1px solid #e9eff6;
  border-radius: 10px;
  padding: 20px;
  background-color: #afcbda;
  display: flex;
  flex-direction: row;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.items label {
  font-weight: bold;
  margin-right: 10px;
}

.items input {
  border-radius: 20px;
  padding: 8px;
}

.addTodobtn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #6698cb;
  color: white;
  border-radius: 20px;
  margin: 20px;
}
.workingcardWraper,
.donecardWraper {
  display: flex;
  /* 카드 일렬로 정렬 */
  flex-flow: wrap;
  gap: 10px;
}

.todoCard,
.completeCard {
  border: 2px solid black;
  margin-top: 15px;
  padding: 15px;
  background-color: #c8d6da;
  border-radius: 10px;
}

.removebtn {
  background-color: #ffc0cb;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
}

.completebtn {
  background-color: #82b3ed;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
}
